
a {
	font-weight:bold
}

.container {
	width:100%;
	height:auto;
    background-color: transparent;
	/*border:1px solid #CCCCCC;*/
    padding: 0;
}

.navbar-default {
	margin-top: 1px;
	border-radius: 1px;
	background-color:dimgray ;
    color: #000000;
}

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
}

.navbar-nav{
	margin-left:1px
}

.navbar {
    border: 0;
}

ul.navbar-nav li a {
    height: 70px;
    display: flex;
    align-items: center;
	border-left:1px groove #FFFFFF;

}
#border_right{
	border-right:1px groove #ffffff;}

#logo {
    height: 70px;
    width: auto;
}

.navbar-header button{
    margin: 18px 15px 18px 0;

}

.carousel-inner img {
	margin-top:0px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.container-fluid{
	margin-bottom:15px}

.articles{
	width: 32%;
	height: 250px;
	margin-left: 1%;
	float: left;
	background-color:#3c763d ;
	margin-top: auto;
	margin-bottom: auto;
    text-align: center;
    font-family: "Roboto Black";
    font-weight: bold;
    font-size: 32pt;
    color: #ffffff;
    border-radius: 12px;
    opacity:0.6;
    font-style: oblique;
}



.panel-footer{
	color: #ffffff;
	background-color: dimgray;
	font-family: "Roboto Black";
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	opacity: 0.8;
	font-style: italic;

}



